html, body {
  padding: 0;
  margin: 0;
  font-family: arial;
  background-color: #bcc2fc;
}

header {
  background-color: #f9e4df;
  text-align: center;
  padding: 15px;
  color: white;
  transition: background-color .3s ease-in;
}
p {
    background-color: pink;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.ma_class {
  background: #e65c00;
  background: -webkit-linear-gradient(to top, #bcc2fc, #f9e4df);
  background: linear-gradient(to top, #bcc2fc , #f9e4df);
  filter: drop-shadow(0 0 0.75rem white);
}

#btn-container{
    justify-content:center;
    display: flex;
}
.colorDiv {
    width:30px;
    height:30px;
    border-radius:50%;
    margin-left:4px;
}

.active {
   border: 2px solid black;
   box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}